.slideCarousel{
    border: 3px solid green;
    width: 50%;
    height: 20vh;
    margin: auto;
    border-radius: 15px;
    padding: 15px;

}
.carousel-indicators button{
    background-color: green;
}