<app-list-items></app-list-items>
<section>
    <!-- <img src="../../../assets/pexels-cottonbro-studio-4480505.jpg" alt="Photo de notre garage"> -->
    <div>
        <h3>NOTRE GARAGE EST ACTIF DEPUIS 1990</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic molestiae tempora minima repellat amet placeat labore, ducimus mollitia molestias modi repellendus nostrum iusto velit accusantium sint corporis deserunt nobis iure!</p>
    </div>
</section>
<app-carousel></app-carousel>