ul {
    list-style-type: none;
    padding: 0; 
  }
  
  li {
    margin-bottom: 10px; 
  }
  
  a {
    color: #fff; 
    text-decoration: none; 
    display: block;
    padding: 5px;
    font-size: 0.6em;
  }
  
  a:hover {
    background-color: rgb(6, 81, 25); 
  }