<div class="grid-container">
    <nav class="sidebar">
      <ul>
        <li><a (click)="getThisPanel('users')">Users</a></li>
        <li><a (click)="getThisPanel('cars')">Cars</a></li>
        <li><a (click)="getThisPanel('comments')">Comments</a></li>      </ul>
    </nav>
<ng-container *ngIf="(panelRequested$ | async) as panelRequested">
  <ecf-list-items [panelRequested]="panelRequested"></ecf-list-items>
</ng-container>
</div>
<ng-container *ngIf="(panelRequested$ | async) as panelRequested">

  <ng-container [ngSwitch]="panelRequested">

    <ecf-form *ngSwitchCase="'users'" [formTemplate]="'users'"></ecf-form>
    
    <ecf-form *ngSwitchCase="'cars'" [formTemplate]="'cars'"></ecf-form>

  </ng-container> 

</ng-container>
